In [36]:
import pandas as pd
import numpy as np
import re
import locale

In [37]:
def answer_one():
    # YOUR CODE HERE
        #  //////////////////// ENERGY /////////////////////
    energia = pd.read_excel('DataOfModule3/Energy_Indicators.xls', skiprows=17)

    energia.drop(['Unnamed: 0', 'Unnamed: 1'], inplace=True, axis=1, errors='ignore')
    energia.columns=['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
    energia['Country'] = energia['Country'].replace({"Republic of Korea": "South Korea", 
                            "United States of America20": "United States", 
                            "United Kingdom of Great Britain and Northern Ireland19": "United Kingdom", 
                            "China, Hong Kong Special Administrative Region3n": "Hong Kong"
                        })
    energia['Energy Supply'] = energia['Energy Supply'] * 1_000_000
    
    
    def formating(item):
        item=str(item)
        item= re.sub(r'\(.*?\)', '', item)
        item= re.sub(r"\d+", '', item)
        item= re.sub(r'\s$', '', item)
        return item
    energia['Country'] = energia['Country'].apply(lambda x: formating(x))






        #  //////////////////// DGP /////////////////////

    dgp = pd.read_csv('DataOfModule3/world_bank.csv', skiprows=4)
    dgp['Country Name'] = dgp['Country Name'].replace({
                                                    "Korea, Rep.": "South Korea", 
                                                    "Iran, Islamic Rep.": "Iran",
                                                    "Hong Kong SAR, China": "Hong Kong"

                                                })
    dgp = dgp[['Country Name', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
                '2014', '2015']]
    dgp.columns = ['Country','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015']
    



        #  //////////////////// SCIMEM /////////////////////

    scimem = pd.read_excel('DataOfModule3/scimagojr-3.xlsx')
    scimem = scimem.head(16)


        #  //////////////////// CREAT DF /////////////////////

    df = pd.merge(scimem, energia ,how='inner' ,left_on='Country', right_on='Country')
    final_df = pd.merge(df,dgp, how='inner', left_on='Country', right_on='Country')
    final_df = final_df.set_index('Country')

    # df = pd.merge(scimem, energia, how='inner', on='Country')
    # df = pd.merge(df, dgp, how='inner', left_on='Country', right_on='Country Name')
    # # df.drop(columns='Country Name', inplace=True, errors='ignore')
    # # df.drop(columns='Indicator Code', inplace=True, errors='ignore')
    # df.set_index('Country', inplace=True)

    return final_df
    raise NotImplementedError()


answer_one()

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,127191000000,93,19.754910,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,2,96661,94747,792274,265436,8.20,230,90838000000,286,11.570980,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Japan,3,30504,30287,223024,61554,7.31,134,18984000000,149,10.232820,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
United Kingdom,4,20944,20357,206091,37874,9.84,139,7920000000,124,10.600470,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
Russian Federation,5,18534,18301,34266,12422,1.85,57,30709000000,214,17.288680,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
Canada,6,17899,17620,215003,40930,12.01,149,10431000000,296,61.945430,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
Germany,7,17027,16831,140566,27426,8.26,126,13261000000,165,17.901530,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
India,8,15005,14841,128763,37209,8.58,115,33195000000,26,14.969080,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
France,9,13153,12973,130632,28601,9.93,114,10597000000,166,17.020280,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
South Korea,10,11983,11923,114675,22595,9.57,104,11007000000,221,2.279353,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
Italy,11,10964,10794,111850,26661,10.20,106,6530000000,109,33.667230,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
Spain,12,9428,9330,123336,23964,13.08,115,4923000000,106,37.968590,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
Iran,13,8896,8819,57470,19125,6.46,72,9172000000,119,5.707721,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
Australia,14,8831,8725,90765,15606,10.28,107,5386000000,231,11.810810,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
Brazil,15,8668,8596,60702,14396,7.00,86,12149000000,59,69.648030,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12

# Question 9

In [56]:
def answer_nine():
    # YOUR CODE HERE
    df = answer_one()
    df['Population'] = df['Energy Supply'] / df['Energy Supply per Capita']
    df['Citable docs per capita'] = df['Citable documents'] / df['Population']
    ans = float(df['Citable docs per capita'].corr(df['Energy Supply per Capita']))
    return ans



    raise NotImplementedError()

In [60]:
answer_nine().shape

()

In [58]:
def answer_nine():
    Top15 = answer_one()
    Top15['PopEst'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15['Citable docs per Capita'] = Top15['Citable documents'] / Top15['PopEst']
    ans = Top15['Citable docs per Capita'].corr(Top15['Energy Supply per Capita'])
    return ans

answer_nine()

np.float64(0.7940010435442946)

# Question 10

In [40]:
def answer_ten():
    # YOUR CODE HERE
    df = answer_one()

    median = df['% Renewable'].median()
    df['Renewable or no'] = df['% Renewable'].apply(lambda x: 1 if x >= median else 0)
    # df = df.sort_values('Renewable or no', ascending=True)
    HighRenew = df['Renewable or no']
    return HighRenew


    raise NotImplementedError()

In [41]:
answer_ten()

Country
China                 1
United States         0
Japan                 0
United Kingdom        0
Russian Federation    1
Canada                1
Germany               1
India                 0
France                1
South Korea           0
Italy                 1
Spain                 1
Iran                  0
Australia             0
Brazil                1
Name: Renewable or no, dtype: int64

# Question 11

In [42]:
def answer_eleven():
    # YOUR CODE HERE
    df = answer_one()
    df = df.reset_index()
    df['Continent'] = df['Country']

    df['Continent'] = df['Country'].replace({'China':'Asia', 
                                            'United States':'North America', 
                                            'Japan':'Asia', 
                                            'United Kingdom':'Europe', 
                                            'Russian Federation':'Europe', 
                                            'Canada':'North America', 
                                            'Germany':'Europe', 
                                            'India':'Asia',
                                            'France':'Europe', 
                                            'South Korea':'Asia', 
                                            'Italy':'Europe', 
                                            'Spain':'Europe', 
                                            'Iran':'Asia',
                                            'Australia':'Australia', 
                                            'Brazil':'South America'
                                        })


    df['Population'] = df['Energy Supply'] / df['Energy Supply per Capita']


    # df.groupby('Continent').agg({'Population':(np.size, np.nanmean, np.nansum, np)})

    # OUUUU

    df = df.groupby('Continent')['Population'].agg(
                                                size='size',
                                                sum='sum',
                                                mean='mean',
                                                std='std'
                                            )

    return df

    raise NotImplementedError()

In [43]:
df = answer_eleven()

In [44]:
df.head()

               size               sum              mean           std
Continent
Asia              5   2898666386.6106   579733277.32212  6.790979e+08
Australia         1   23316017.316017   23316017.316017           NaN
Europe            6  457929667.216372   76321611.202729  3.464767e+07
North America     2   352855249.48025  176427624.740125  1.996696e+08
South America     1  205915254.237288  205915254.237288           NaN

# Question 12

In [45]:
def answer_twelve():
    # YOUR CODE HERE
    df = answer_one()
    df = df.reset_index()
    ContinetDict=({'China':'Asia', 
                                                'United States':'North America', 
                                                'Japan':'Asia', 
                                                'United Kingdom':'Europe', 
                                                'Russian Federation':'Europe', 
                                                'Canada':'North America', 
                                                'Germany':'Europe', 
                                                'India':'Asia',
                                                'France':'Europe', 
                                                'South Korea':'Asia', 
                                                'Italy':'Europe', 
                                                'Spain':'Europe', 
                                                'Iran':'Asia',
                                                'Australia':'Australia', 
                                                'Brazil':'South America'
                                            })
    df['Continent'] = [ContinetDict[c] for c in df['Country']]

    df['% Renewabl']=pd.cut(df['% Renewable'], 5)
    return df.groupby(['Continent','% Renewabl']).size()

    raise NotImplementedError()

In [46]:
answer_twelve()

C:\Users\kauek\AppData\Local\Temp\ipykernel_14760\1493290795.py:24: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  return df.groupby(['Continent','% Renewabl']).size()

Continent      % Renewabl
Asia           (2.212, 15.753]     4
               (15.753, 29.227]    1
               (29.227, 42.701]    0
               (42.701, 56.174]    0
               (56.174, 69.648]    0
Australia      (2.212, 15.753]     1
               (15.753, 29.227]    0
               (29.227, 42.701]    0
               (42.701, 56.174]    0
               (56.174, 69.648]    0
Europe         (2.212, 15.753]     1
               (15.753, 29.227]    3
               (29.227, 42.701]    2
               (42.701, 56.174]    0
               (56.174, 69.648]    0
North America  (2.212, 15.753]     1
               (15.753, 29.227]    0
               (29.227, 42.701]    0
               (42.701, 56.174]    0
               (56.174, 69.648]    1
South America  (2.212, 15.753]     0
               (15.753, 29.227]    0
               (29.227, 42.701]    0
               (42.701, 56.174]    0
               (56.174, 69.648]    1
dtype: int64

In [47]:
len(answer_twelve()) == 25

C:\Users\kauek\AppData\Local\Temp\ipykernel_14760\1493290795.py:24: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  return df.groupby(['Continent','% Renewabl']).size()

True

# Question 13

In [52]:
def answer_thirteen():
    # YOUR CODE HERE
    df = answer_one()
    df['Population'] = df['Energy Supply'] / df['Energy Supply per Capita']
    locale.setlocale(locale.LC_ALL, 'en_US.utf8')

    map_number = []
    for n in df['Population']:
        map_number.append(locale.format_string('%.2f', n, grouping=True))
    df['Population']=map_number

    return df['Population']

    raise NotImplementedError()

In [53]:
answer_thirteen()

Country
China                 1,367,645,161.29
United States           317,615,384.62
Japan                   127,409,395.97
United Kingdom           63,870,967.74
Russian Federation      143,500,000.00
Canada                   35,239,864.86
Germany                  80,369,696.97
India                 1,276,730,769.23
France                   63,837,349.40
South Korea              49,805,429.86
Italy                    59,908,256.88
Spain                    46,443,396.23
Iran                     77,075,630.25
Australia                23,316,017.32
Brazil                  205,915,254.24
Name: Population, dtype: object