split-apply-combine

In [105]:
import pandas as pd
import numpy as np

In [106]:
df = pd.read_csv('DataOfModule3/census.csv')

In [107]:
df = df[df['SUMLEV']==50]
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411

In [108]:
# %%timeit -n 3

# for state in df['STNAME'].unique():
#     # We'll just calculate the average using numpy for this particular state
#     avg = np.average(df.where(df['STNAME']==state).dropna()['CENSUS2010POP'])
#     # And we'll print it to the screen
#     print('Counties in state ' + state + 
#           ' have an average population of ' + str(avg))

In [109]:
%%timeit -n 3

for group, frame in df.groupby('STNAME'):
    avg = np.average(frame['CENSUS2010POP'])
    print(f'State group {group} avg of group {str(avg)}')

State group Alabama avg of group 71339.34328358209
State group Alaska avg of group 24490.724137931036
State group Arizona avg of group 426134.4666666667
State group Arkansas avg of group 38878.90666666667
State group California avg of group 642309.5862068966
State group Colorado avg of group 78581.1875
State group Connecticut avg of group 446762.125
State group Delaware avg of group 299311.3333333333
State group District of Columbia avg of group 601723.0
State group Florida avg of group 280616.5671641791
State group Georgia avg of group 60928.63522012578
State group Hawaii avg of group 272060.2
State group Idaho avg of group 35626.86363636364
State group Illinois avg of group 125790.50980392157
State group Indiana avg of group 70476.10869565218
State group Iowa avg of group 30771.262626262625
State group Kansas avg of group 27172.55238095238
State group Kentucky avg of group 36161.39166666667
State group Louisiana avg of group 70833.9375
State group Maine avg of group 83022.5625
State group Maryland avg of group 240564.66666666666
State group Massachusetts avg of group 467687.78571428574
State group Michigan avg of group 119080.0
State group Minnesota avg of group 60964.65517241379
State group Mississippi avg of group 36186.54878048781
State group Missouri avg of group 52077.62608695652
State group Montana avg of group 17668.125
State group Nebraska avg of group 19638.075268817203
State group Nevada avg of group 158855.9411764706
State group New Hampshire avg of group 131647.0
State group New Jersey avg of group 418661.61904761905
State group New Mexico avg of group 62399.36363636364
State group New York avg of group 312550.03225806454
State group North Carolina avg of group 95354.83
State group North Dakota avg of group 12690.396226415094
State group Ohio avg of group 131096.63636363635
State group Oklahoma avg of group 48718.844155844155
State group Oregon avg of group 106418.72222222222
State group Pennsylvania avg of group 189587.74626865672
State group Rhode Island avg of group 210513.4
State group South Carolina avg of group 100551.39130434782
State group South Dakota avg of group 12336.060606060606
State group Tennessee avg of group 66801.1052631579
State group Texas avg of group 98998.27165354331
State group Utah avg of group 95306.37931034483
State group Vermont avg of group 44695.78571428572
State group Virginia avg of group 60111.29323308271
State group Washington avg of group 172424.10256410256
State group West Virginia avg of group 33690.8
State group Wisconsin avg of group 78985.91666666667
State group Wyoming avg of group 24505.478260869564
State group Alabama avg of group 71339.34328358209
State group Alaska avg of group 24490.724137931036
State group Arizona avg of group 426134.4666666667
State group Arkansas avg of group 38878.90666666667
State group California avg of group 642309.5862068966
State group Colorado avg of group 78581.1875
State group Connecticut avg of group 446762.125
State group Delaware avg of group 299311.3333333333
State group District of Columbia avg of group 601723.0
State group Florida avg of group 280616.5671641791
State group Georgia avg of group 60928.63522012578
State group Hawaii avg of group 272060.2
State group Idaho avg of group 35626.86363636364
State group Illinois avg of group 125790.50980392157
State group Indiana avg of group 70476.10869565218
State group Iowa avg of group 30771.262626262625
State group Kansas avg of group 27172.55238095238
State group Kentucky avg of group 36161.39166666667
State group Louisiana avg of group 70833.9375
State group Maine avg of group 83022.5625
State group Maryland avg of group 240564.66666666666
State group Massachusetts avg of group 467687.78571428574
State group Michigan avg of group 119080.0
State group Minnesota avg of group 60964.65517241379
State group Mississippi avg of group 36186.54878048781
State group Missouri avg of group 52077.62608695652
State group Montana avg of group 17668.125
State group Nebraska avg of group 19638.075268817203
State group Nevada avg of group 158855.9411764706
State group New Hampshire avg of group 131647.0
State group New Jersey avg of group 418661.61904761905
State group New Mexico avg of group 62399.36363636364
State group New York avg of group 312550.03225806454
State group North Carolina avg of group 95354.83
State group North Dakota avg of group 12690.396226415094
State group Ohio avg of group 131096.63636363635
State group Oklahoma avg of group 48718.844155844155
State group Oregon avg of group 106418.72222222222
State group Pennsylvania avg of group 189587.74626865672
State group Rhode Island avg of group 210513.4
State group South Carolina avg of group 100551.39130434782
State group South Dakota avg of group 12336.060606060606
State group Tennessee avg of group 66801.1052631579
State group Texas avg of group 98998.27165354331
State group Utah avg of group 95306.37931034483
State group Vermont avg of group 44695.78571428572
State group Virginia avg of group 60111.29323308271
State group Washington avg of group 172424.10256410256
State group West Virginia avg of group 33690.8
State group Wisconsin avg of group 78985.91666666667
State group Wyoming avg of group 24505.478260869564
State group Alabama avg of group 71339.34328358209
State group Alaska avg of group 24490.724137931036
State group Arizona avg of group 426134.4666666667
State group Arkansas avg of group 38878.90666666667
State group California avg of group 642309.5862068966
State group Colorado avg of group 78581.1875
State group Connecticut avg of group 446762.125
State group Delaware avg of group 299311.3333333333
State group District of Columbia avg of group 601723.0
State group Florida avg of group 280616.5671641791
State group Georgia avg of group 60928.63522012578
State group Hawaii avg of group 272060.2
State group Idaho avg of group 35626.86363636364
State group Illinois avg of group 125790.50980392157
State group Indiana avg of group 70476.10869565218
State group Iowa avg of group 30771.262626262625
State group Kansas avg of group 27172.55238095238
State group Kentucky avg of group 36161.39166666667
State group Louisiana avg of group 70833.9375
State group Maine avg of group 83022.5625
State group Maryland avg of group 240564.66666666666
State group Massachusetts avg of group 467687.78571428574
State group Michigan avg of group 119080.0
State group Minnesota avg of group 60964.65517241379
State group Mississippi avg of group 36186.54878048781
State group Missouri avg of group 52077.62608695652
State group Montana avg of group 17668.125
State group Nebraska avg of group 19638.075268817203
State group Nevada avg of group 158855.9411764706
State group New Hampshire avg of group 131647.0
State group New Jersey avg of group 418661.61904761905
State group New Mexico avg of group 62399.36363636364
State group New York avg of group 312550.03225806454
State group North Carolina avg of group 95354.83
State group North Dakota avg of group 12690.396226415094
State group Ohio avg of group 131096.63636363635
State group Oklahoma avg of group 48718.844155844155
State group Oregon avg of group 106418.72222222222
State group Pennsylvania avg of group 189587.74626865672
State group Rhode Island avg of group 210513.4
State group South Carolina avg of group 100551.39130434782
State group South Dakota avg of group 12336.060606060606
State group Tennessee avg of group 66801.1052631579
State group Texas avg of group 98998.27165354331
State group Utah avg of group 95306.37931034483
State group Vermont avg of group 44695.78571428572
State group Virginia avg of group 60111.29323308271
State group Washington avg of group 172424.10256410256
State group West Virginia avg of group 33690.8
State group Wisconsin avg of group 78985.91666666667
State group Wyoming avg of group 24505.478260869564
State group Alabama avg of group 71339.34328358209
State group Alaska avg of group 24490.724137931036
State group Arizona avg of group 426134.4666666667
State group Arkansas avg of group 38878.90666666667
State group California avg of group 642309.5862068966
State group Colorado avg of group 78581.1875
State group Connecticut avg of group 446762.125
State group Delaware avg of group 299311.3333333333
State group District of Columbia avg of group 601723.0
State group Florida avg of group 280616.5671641791
State group Georgia avg of group 60928.63522012578
State group Hawaii avg of group 272060.2
State group Idaho avg of group 35626.86363636364
State group Illinois avg of group 125790.50980392157
State group Indiana avg of group 70476.10869565218
State group Iowa avg of group 30771.262626262625
State group Kansas avg of group 27172.55238095238
State group Kentucky avg of group 36161.39166666667
State group Louisiana avg of group 70833.9375
State group Maine avg of group 83022.5625
State group Maryland avg of group 240564.66666666666
State group Massachusetts avg of group 467687.78571428574
State group Michigan avg of group 119080.0
State group Minnesota avg of group 60964.65517241379
State group Mississippi avg of group 36186.54878048781
State group Missouri avg of group 52077.62608695652
State group Montana avg of group 17668.125
State group Nebraska avg of group 19638.075268817203
State group Nevada avg of group 158855.9411764706
State group New Hampshire avg of group 131647.0
State group New Jersey avg of group 418661.61904761905
State group New Mexico avg of group 62399.36363636364
State group New York avg of group 312550.03225806454
State group North Carolina avg of group 95354.83
State group North Dakota avg of group 12690.396226415094
State group Ohio avg of group 131096.63636363635
State group Oklahoma avg of group 48718.844155844155
State group Oregon avg of group 106418.72222222222
State group Pennsylvania avg of group 189587.74626865672
State group Rhode Island avg of group 210513.4
State group South Carolina avg of group 100551.39130434782
State group South Dakota avg of group 12336.060606060606
State group Tennessee avg of group 66801.1052631579
State group Texas avg of group 98998.27165354331
State group Utah avg of group 95306.37931034483
State group Vermont avg of group 44695.78571428572
State group Virginia avg of group 60111.29323308271
State group Washington avg of group 172424.10256410256
State group West Virginia avg of group 33690.8
State group Wisconsin avg of group 78985.91666666667
State group Wyoming avg of group 24505.478260869564
State group Alabama avg of group 71339.34328358209
State group Alaska avg of group 24490.724137931036
State group Arizona avg of group 426134.4666666667
State group Arkansas avg of group 38878.90666666667
State group California avg of group 642309.5862068966
State group Colorado avg of group 78581.1875
State group Connecticut avg of group 446762.125
State group Delaware avg of group 299311.3333333333
State group District of Columbia avg of group 601723.0
State group Florida avg of group 280616.5671641791
State group Georgia avg of group 60928.63522012578
State group Hawaii avg of group 272060.2
State group Idaho avg of group 35626.86363636364
State group Illinois avg of group 125790.50980392157
State group Indiana avg of group 70476.10869565218
State group Iowa avg of group 30771.262626262625
State group Kansas avg of group 27172.55238095238
State group Kentucky avg of group 36161.39166666667
State group Louisiana avg of group 70833.9375
State group Maine avg of group 83022.5625
State group Maryland avg of group 240564.66666666666
State group Massachusetts avg of group 467687.78571428574
State group Michigan avg of group 119080.0
State group Minnesota avg of group 60964.65517241379
State group Mississippi avg of group 36186.54878048781
State group Missouri avg of group 52077.62608695652
State group Montana avg of group 17668.125
State group Nebraska avg of group 19638.075268817203
State group Nevada avg of group 158855.9411764706
State group New Hampshire avg of group 131647.0
State group New Jersey avg of group 418661.61904761905
State group New Mexico avg of group 62399.36363636364
State group New York avg of group 312550.03225806454
State group North Carolina avg of group 95354.83
State group North Dakota avg of group 12690.396226415094
State group Ohio avg of group 131096.63636363635
State group Oklahoma avg of group 48718.844155844155
State group Oregon avg of group 106418.72222222222
State group Pennsylvania avg of group 189587.74626865672
State group Rhode Island avg of group 210513.4
State group South Carolina avg of group 100551.39130434782
State group South Dakota avg of group 12336.060606060606
State group Tennessee avg of group 66801.1052631579
State group Texas avg of group 98998.27165354331
State group Utah avg of group 95306.37931034483
State group Vermont avg of group 44695.78571428572
State group Virginia avg of group 60111.29323308271
State group Washington avg of group 172424.10256410256
State group West Virginia avg of group 33690.8
State group Wisconsin avg of group 78985.91666666667
State group Wyoming avg of group 24505.478260869564
State group Alabama avg of group 71339.34328358209
State group Alaska avg of group 24490.724137931036
State group Arizona avg of group 426134.4666666667
State group Arkansas avg of group 38878.90666666667
State group California avg of group 642309.5862068966
State group Colorado avg of group 78581.1875
State group Connecticut avg of group 446762.125
State group Delaware avg of group 299311.3333333333
State group District of Columbia avg of group 601723.0
State group Florida avg of group 280616.5671641791
State group Georgia avg of group 60928.63522012578
State group Hawaii avg of group 272060.2
State group Idaho avg of group 35626.86363636364
State group Illinois avg of group 125790.50980392157
State group Indiana avg of group 70476.10869565218
State group Iowa avg of group 30771.262626262625
State group Kansas avg of group 27172.55238095238
State group Kentucky avg of group 36161.39166666667
State group Louisiana avg of group 70833.9375
State group Maine avg of group 83022.5625
State group Maryland avg of group 240564.66666666666
State group Massachusetts avg of group 467687.78571428574
State group Michigan avg of group 119080.0
State group Minnesota avg of group 60964.65517241379
State group Mississippi avg of group 36186.54878048781
State group Missouri avg of group 52077.62608695652
State group Montana avg of group 17668.125
State group Nebraska avg of group 19638.075268817203
State group Nevada avg of group 158855.9411764706
State group New Hampshire avg of group 131647.0
State group New Jersey avg of group 418661.61904761905
State group New Mexico avg of group 62399.36363636364
State group New York avg of group 312550.03225806454
State group North Carolina avg of group 95354.83
State group North Dakota avg of group 12690.396226415094
State group Ohio avg of group 131096.63636363635
State group Oklahoma avg of group 48718.844155844155
State group Oregon avg of group 106418.72222222222
State group Pennsylvania avg of group 189587.74626865672
State group Rhode Island avg of group 210513.4
State group South Carolina avg of group 100551.39130434782
State group South Dakota avg of group 12336.060606060606
State group Tennessee avg of group 66801.1052631579
State group Texas avg of group 98998.27165354331
State group Utah avg of group 95306.37931034483
State group Vermont avg of group 44695.78571428572
State group Virginia avg of group 60111.29323308271
State group Washington avg of group 172424.10256410256
State group West Virginia avg of group 33690.8
State group Wisconsin avg of group 78985.91666666667
State group Wyoming avg of group 24505.478260869564
State group Alabama avg of group 71339.34328358209
State group Alaska avg of group 24490.724137931036
State group Arizona avg of group 426134.4666666667
State group Arkansas avg of group 38878.90666666667
State group California avg of group 642309.5862068966
State group Colorado avg of group 78581.1875
State group Connecticut avg of group 446762.125
State group Delaware avg of group 299311.3333333333
State group District of Columbia avg of group 601723.0
State group Florida avg of group 280616.5671641791
State group Georgia avg of group 60928.63522012578
State group Hawaii avg of group 272060.2
State group Idaho avg of group 35626.86363636364
State group Illinois avg of group 125790.50980392157
State group Indiana avg of group 70476.10869565218
State group Iowa avg of group 30771.262626262625
State group Kansas avg of group 27172.55238095238
State group Kentucky avg of group 36161.39166666667
State group Louisiana avg of group 70833.9375
State group Maine avg of group 83022.5625
State group Maryland avg of group 240564.66666666666
State group Massachusetts avg of group 467687.78571428574
State group Michigan avg of group 119080.0
State group Minnesota avg of group 60964.65517241379
State group Mississippi avg of group 36186.54878048781
State group Missouri avg of group 52077.62608695652
State group Montana avg of group 17668.125
State group Nebraska avg of group 19638.075268817203
State group Nevada avg of group 158855.9411764706
State group New Hampshire avg of group 131647.0
State group New Jersey avg of group 418661.61904761905
State group New Mexico avg of group 62399.36363636364
State group New York avg of group 312550.03225806454
State group North Carolina avg of group 95354.83
State group North Dakota avg of group 12690.396226415094
State group Ohio avg of group 131096.63636363635
State group Oklahoma avg of group 48718.844155844155
State group Oregon avg of group 106418.72222222222
State group Pennsylvania avg of group 189587.74626865672
State group Rhode Island avg of group 210513.4
State group South Carolina avg of group 100551.39130434782
State group South Dakota avg of group 12336.060606060606
State group Tennessee avg of group 66801.1052631579
State group Texas avg of group 98998.27165354331
State group Utah avg of group 95306.37931034483
State group Vermont avg of group 44695.78571428572
State group Virginia avg of group 60111.29323308271
State group Washington avg of group 172424.10256410256
State group West Virginia avg of group 33690.8
State group Wisconsin avg of group 78985.91666666667
State group Wyoming avg of group 24505.478260869564
State group Alabama avg of group 71339.34328358209
State group Alaska avg of group 24490.724137931036
State group Arizona avg of group 426134.4666666667
State group Arkansas avg of group 38878.90666666667
State group California avg of group 642309.5862068966
State group Colorado avg of group 78581.1875
State group Connecticut avg of group 446762.125
State group Delaware avg of group 299311.3333333333
State group District of Columbia avg of group 601723.0
State group Florida avg of group 280616.5671641791
State group Georgia avg of group 60928.63522012578
State group Hawaii avg of group 272060.2
State group Idaho avg of group 35626.86363636364
State group Illinois avg of group 125790.50980392157
State group Indiana avg of group 70476.10869565218
State group Iowa avg of group 30771.262626262625
State group Kansas avg of group 27172.55238095238
State group Kentucky avg of group 36161.39166666667
State group Louisiana avg of group 70833.9375
State group Maine avg of group 83022.5625
State group Maryland avg of group 240564.66666666666
State group Massachusetts avg of group 467687.78571428574
State group Michigan avg of group 119080.0
State group Minnesota avg of group 60964.65517241379
State group Mississippi avg of group 36186.54878048781
State group Missouri avg of group 52077.62608695652
State group Montana avg of group 17668.125
State group Nebraska avg of group 19638.075268817203
State group Nevada avg of group 158855.9411764706
State group New Hampshire avg of group 131647.0
State group New Jersey avg of group 418661.61904761905
State group New Mexico avg of group 62399.36363636364
State group New York avg of group 312550.03225806454
State group North Carolina avg of group 95354.83
State group North Dakota avg of group 12690.396226415094

In [110]:
df = df.set_index('STNAME')

def set_batch_number(item):
    if item[0] < 'M':
        return 0
    if item[0] < 'Q':
        return 1
    return 2

for group, frame in df.groupby(set_batch_number):
    print(f'Tamanho {len(str(frame))} registro em grupos {str(group)} para processar')

Tamanho 4683 registro em grupos 0 para processar
Tamanho 4826 registro em grupos 1 para processar
Tamanho 4799 registro em grupos 2 para processar

In [111]:
df = pd.read_csv('DataOfModule3/listings.csv')
df.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",none,"Roslindale is quiet, convenient and friendly. ...",...,NaN,f,NaN,NaN,f,moderate,f,f,1,NaN
1,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,9.0,f,NaN,NaN,t,moderate,f,f,1,1.30
2,6976,https://www.airbnb.com/rooms/6976,20160906204935,2016-09-07,Mexican Folk Art Haven in Boston,"Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...",none,The LOCATION: Roslindale is a safe and diverse...,...,10.0,f,NaN,NaN,f,moderate,t,f,1,0.47
3,1436513,https://www.airbnb.com/rooms/1436513,20160906204935,2016-09-07,Spacious Sunny Bedroom Suite in Historic Home,Come experience the comforts of home away from...,Most places you find in Boston are small howev...,Come experience the comforts of home away from...,none,Roslindale is a lovely little neighborhood loc...,...,10.0,f,NaN,NaN,f,moderate,f,f,1,1.00
4,7651065,https://www.airbnb.com/rooms/7651065,20160906204935,2016-09-07,Come Home to Boston,"My comfy, clean and relaxing home is one block...","Clean, attractive, private room, one block fro...","My comfy, clean and relaxing home is one block...",none,"I love the proximity to downtown, the neighbor...",...,10.0,f,NaN,NaN,f,flexible,f,f,1,2.25

In [112]:
df[['cancellation_policy', 'review_scores_value']].head()

  cancellation_policy  review_scores_value
0            moderate                  NaN
1            moderate                  9.0
2            moderate                 10.0
3            moderate                 10.0
4            flexible                 10.0

In [113]:
df['cancellation_policy'].unique()

array(['moderate', 'flexible', 'strict', 'super_strict_30'], dtype=object)

In [114]:
df['review_scores_value'].unique()

array([nan,  9., 10.,  6.,  8.,  7.,  2.,  4.,  3.,  5.])

In [115]:
df = df.set_index(["cancellation_policy", "review_scores_value"])

for group, frame in df.groupby(level=(0, 1)):
    print(group)

('flexible', np.float64(2.0))
('flexible', np.float64(4.0))
('flexible', np.float64(5.0))
('flexible', np.float64(6.0))
('flexible', np.float64(7.0))
('flexible', np.float64(8.0))
('flexible', np.float64(9.0))
('flexible', np.float64(10.0))
('moderate', np.float64(2.0))
('moderate', np.float64(4.0))
('moderate', np.float64(6.0))
('moderate', np.float64(7.0))
('moderate', np.float64(8.0))
('moderate', np.float64(9.0))
('moderate', np.float64(10.0))
('strict', np.float64(2.0))
('strict', np.float64(3.0))
('strict', np.float64(4.0))
('strict', np.float64(5.0))
('strict', np.float64(6.0))
('strict', np.float64(7.0))
('strict', np.float64(8.0))
('strict', np.float64(9.0))
('strict', np.float64(10.0))
('super_strict_30', np.float64(6.0))
('super_strict_30', np.float64(7.0))
('super_strict_30', np.float64(8.0))
('super_strict_30', np.float64(9.0))
('super_strict_30', np.float64(10.0))

In [116]:
def group_by_score(item):
    if item[1] == 10:
        return (f'{item[0]}: True, 10.00')
    else:
        return (f'{item[0]}: False, 10.00')

for group, frame in df.groupby(by=group_by_score):
    print(group)

flexible: False, 10.00
flexible: True, 10.00
moderate: False, 10.00
moderate: True, 10.00
strict: False, 10.00
strict: True, 10.00
super_strict_30: False, 10.00
super_strict_30: True, 10.00

In [117]:
df.head()

                                               id  \
cancellation_policy review_scores_value
moderate            NaN                  12147973
                    9.0                   3075044
                    10.0                     6976
                    10.0                  1436513
flexible            10.0                  7651065

                                                                   listing_url  \
cancellation_policy review_scores_value
moderate            NaN                  https://www.airbnb.com/rooms/12147973
                    9.0                   https://www.airbnb.com/rooms/3075044
                    10.0                     https://www.airbnb.com/rooms/6976
                    10.0                  https://www.airbnb.com/rooms/1436513
flexible            10.0                  https://www.airbnb.com/rooms/7651065

                                              scrape_id last_scraped  \
cancellation_policy review_scores_value
moderate            NaN                  20160906204935   2016-09-07
                    9.0                  20160906204935   2016-09-07
                    10.0                 20160906204935   2016-09-07
                    10.0                 20160906204935   2016-09-07
flexible            10.0                 20160906204935   2016-09-07

                                                                                  name  \
cancellation_policy review_scores_value
moderate            NaN                                     Sunny Bungalow in the City
                    9.0                              Charming room in pet friendly apt
                    10.0                              Mexican Folk Art Haven in Boston
                    10.0                 Spacious Sunny Bedroom Suite in Historic Home
flexible            10.0                                           Come Home to Boston

                                                                                   summary  \
cancellation_policy review_scores_value
moderate            NaN                  Cozy, sunny, family home.  Master bedroom high...
                    9.0                  Charming and quiet room in a second floor 1910...
                    10.0                 Come stay with a friendly, middle-aged guy in ...
                    10.0                 Come experience the comforts of home away from...
flexible            10.0                 My comfy, clean and relaxing home is one block...

                                                                                     space  \
cancellation_policy review_scores_value
moderate            NaN                  The house has an open and cozy feel at the sam...
                    9.0                  Small but cozy and quite room with a full size...
                    10.0                 Come stay with a friendly, middle-aged guy in ...
                    10.0                 Most places you find in Boston are small howev...
flexible            10.0                 Clean, attractive, private room, one block fro...

                                                                               description  \
cancellation_policy review_scores_value
moderate            NaN                  Cozy, sunny, family home.  Master bedroom high...
                    9.0                  Charming and quiet room in a second floor 1910...
                    10.0                 Come stay with a friendly, middle-aged guy in ...
                    10.0                 Come experience the comforts of home away from...
flexible            10.0                 My comfy, clean and relaxing home is one block...

                                        experiences_offered  \
cancellation_policy review_scores_value
moderate            NaN                                none
                    9.0                                none
                    10.0                               none
                    10.0                               none
flexible            10.0                               none

                                                                     neighborhood_overview  \
cancellation_policy review_scores_value
moderate            NaN                  Roslindale is quiet, convenient and friendly. ...
                    9.0                  The room is in Roslindale, a diverse and prima...
                    10.0                 The LOCATION: Roslindale is a safe and diverse...
                    10.0                 Roslindale is a lovely little neighborhood loc...
flexible            10.0                 I love the proximity to downtown, the neighbor...

                                         ... review_scores_communication  \
cancellation_policy review_scores_value  ...
moderate            NaN                  ...                         NaN
                    9.0                  ...                        10.0
                    10.0                 ...                        10.0
                    10.0                 ...                        10.0
flexible            10.0                 ...                        10.0

                                        review_scores_location  \
cancellation_policy review_scores_value
moderate            NaN                                    NaN
                    9.0                                    9.0
                    10.0                                   9.0
                    10.0                                  10.0
flexible            10.0                                   9.0

                                        requires_license license  \
cancellation_policy review_scores_value
moderate            NaN                                f     NaN
                    9.0                                f     NaN
                    10.0                               f     NaN
                    10.0                               f     NaN
flexible            10.0                               f     NaN

                                        jurisdiction_names instant_bookable  \
cancellation_policy review_scores_value
moderate            NaN                                NaN                f
                    9.0                                NaN                t
                    10.0                               NaN                f
                    10.0                               NaN                f
flexible            10.0                               NaN                f

                                        require_guest_profile_picture  \
cancellation_policy review_scores_value
moderate            NaN                                             f
                    9.0                                             f
                    10.0                                            t
                    10.0                                            f
flexible            10.0                                            f

                                        require_guest_phone_verification  \
cancellation_policy review_scores_value
moderate            NaN                                                f
                    9.0                                                f
                    10.0                                               f
                    10.0                                               f
flexible            10.0                                               f

                                        calculated_host_listings_count  \
cancellation_policy review_scores_value
moderate            NaN                                              1
                    9.0                                              1
                    10.0                                             1
                    10.0                                             1
flexible            10.0                                             1

                                         reviews_per_month
cancellation_policy review_scores_value
moderate            NaN                                NaN
                    9.0                               1.30
                    10.0                              0.47
                    10.0                              1.00
flexible            10.0                              2.25

[5 rows x 93 columns]

## Aggregation

In [118]:
df = df.reset_index()

In [119]:
for group, frame in df.groupby('cancellation_policy'):
    avg = frame['review_scores_value'].mean()
    print(f'{group}, {avg:.2f}')

flexible, 9.24
moderate, 9.31
strict, 9.08
super_strict_30, 8.54

In [120]:
df.groupby('cancellation_policy').agg({'review_scores_value':np.average})

                     review_scores_value
cancellation_policy
flexible                             NaN
moderate                             NaN
strict                               NaN
super_strict_30                      NaN

In [121]:
df.groupby('cancellation_policy').agg({'review_scores_value':np.nanmean})

C:\Users\kauek\AppData\Local\Temp\ipykernel_12572\4235953459.py:1: FutureWarning: The provided callable <function nanmean at 0x00000236B37ABC40> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df.groupby('cancellation_policy').agg({'review_scores_value':np.nanmean})

                     review_scores_value
cancellation_policy
flexible                        9.237421
moderate                        9.307398
strict                          9.081441
super_strict_30                 8.537313

In [122]:
df.groupby('cancellation_policy').agg({'review_scores_value':(np.nanmean, np.std),
                                       'reviews_per_month': np.nanmean})

C:\Users\kauek\AppData\Local\Temp\ipykernel_12572\4184124033.py:1: FutureWarning: The provided callable <function nanmean at 0x00000236B37ABC40> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df.groupby('cancellation_policy').agg({'review_scores_value':(np.nanmean, np.std),
C:\Users\kauek\AppData\Local\Temp\ipykernel_12572\4184124033.py:1: FutureWarning: The provided callable <function std at 0x00000236A767ED40> is currently using SeriesGroupBy.std. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "std" instead.
  df.groupby('cancellation_policy').agg({'review_scores_value':(np.nanmean, np.std),
C:\Users\kauek\AppData\Local\Temp\ipykernel_12572\4184124033.py:1: FutureWarning: The provided callable <function nanmean at 0x00000236B37ABC40> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df.groupby('cancellation_policy').agg({'review_scores_value':(np.nanmean, np.std),

                    review_scores_value           reviews_per_month
                                nanmean       std           nanmean
cancellation_policy
flexible                       9.237421  1.096271          1.829210
moderate                       9.307398  0.859859          2.391922
strict                         9.081441  1.040531          1.873467
super_strict_30                8.537313  0.840785          0.340143

## Transformation

In [123]:
cols=['cancellation_policy','review_scores_value']
transform_df = df[cols].groupby('cancellation_policy').transform(np.nanmean)
transform_df.head()

C:\Users\kauek\AppData\Local\Temp\ipykernel_12572\1975917595.py:2: FutureWarning: The provided callable <function nanmean at 0x00000236B37ABC40> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  transform_df = df[cols].groupby('cancellation_policy').transform(np.nanmean)

   review_scores_value
0             9.307398
1             9.307398
2             9.307398
3             9.307398
4             9.237421

In [124]:
transform_df.rename({'review_scores_value': 'mean_review_score'}, axis=1, inplace=True)
df = df.merge(transform_df, left_index=True, right_index=True)

In [125]:
df.head()

,cancellation_policy,review_scores_value,id,listing_url,scrape_id,last_scraped,name,summary,space,description,...,review_scores_location,requires_license,license,jurisdiction_names,instant_bookable,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month,mean_review_score
0,moderate,NaN,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",...,NaN,f,NaN,NaN,f,f,f,1,NaN,9.307398
1,moderate,9.0,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,...,9.0,f,NaN,NaN,t,f,f,1,1.30,9.307398
2,moderate,10.0,6976,https://www.airbnb.com/rooms/6976,20160906204935,2016-09-07,Mexican Folk Art Haven in Boston,"Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...",...,9.0,f,NaN,NaN,f,t,f,1,0.47,9.307398
3,moderate,10.0,1436513,https://www.airbnb.com/rooms/1436513,20160906204935,2016-09-07,Spacious Sunny Bedroom Suite in Historic Home,Come experience the comforts of home away from...,Most places you find in Boston are small howev...,Come experience the comforts of home away from...,...,10.0,f,NaN,NaN,f,f,f,1,1.00,9.307398
4,flexible,10.0,7651065,https://www.airbnb.com/rooms/7651065,20160906204935,2016-09-07,Come Home to Boston,"My comfy, clean and relaxing home is one block...","Clean, attractive, private room, one block fro...","My comfy, clean and relaxing home is one block...",...,9.0,f,NaN,NaN,f,f,f,1,2.25,9.237421

In [126]:
df['mean_diff'] = np.absolute(df['review_scores_value'] - df['mean_review_score'])

In [127]:
df['mean_diff'].head()

0         NaN
1    0.307398
2    0.692602
3    0.692602
4    0.762579
Name: mean_diff, dtype: float64

## Filtering

In [128]:
df.groupby('cancellation_policy').filter(lambda x: x['review_scores_value'].mean() > 9.2).head()

,cancellation_policy,review_scores_value,id,listing_url,scrape_id,last_scraped,name,summary,space,description,...,requires_license,license,jurisdiction_names,instant_bookable,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month,mean_review_score,mean_diff
0,moderate,NaN,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",...,f,NaN,NaN,f,f,f,1,NaN,9.307398,NaN
1,moderate,9.0,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,...,f,NaN,NaN,t,f,f,1,1.30,9.307398,0.307398
2,moderate,10.0,6976,https://www.airbnb.com/rooms/6976,20160906204935,2016-09-07,Mexican Folk Art Haven in Boston,"Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...",...,f,NaN,NaN,f,t,f,1,0.47,9.307398,0.692602
3,moderate,10.0,1436513,https://www.airbnb.com/rooms/1436513,20160906204935,2016-09-07,Spacious Sunny Bedroom Suite in Historic Home,Come experience the comforts of home away from...,Most places you find in Boston are small howev...,Come experience the comforts of home away from...,...,f,NaN,NaN,f,f,f,1,1.00,9.307398,0.692602
4,flexible,10.0,7651065,https://www.airbnb.com/rooms/7651065,20160906204935,2016-09-07,Come Home to Boston,"My comfy, clean and relaxing home is one block...","Clean, attractive, private room, one block fro...","My comfy, clean and relaxing home is one block...",...,f,NaN,NaN,f,f,f,1,2.25,9.237421,0.762579

## Applying

In [134]:
df = pd.read_csv('DataOfModule3/listings.csv')
df = df[['cancellation_policy', 'review_scores_value']]
df.head()

  cancellation_policy  review_scores_value
0            moderate                  NaN
1            moderate                  9.0
2            moderate                 10.0
3            moderate                 10.0
4            flexible                 10.0

In [135]:
def calc_mean_review_scores(group):
    # group is a dataframe just of whatever we have grouped by, e.g. cancellation policy, so we can treat
    # this as the complete dataframe
    avg = np.nanmean(group["review_scores_value"])
    # now broadcast our formula and create a new column
    group["review_scores_mean"] = np.abs(avg - group["review_scores_value"])
    return group

# Now just apply this to the groups
df.groupby('cancellation_policy').apply(calc_mean_review_scores).head()

C:\Users\kauek\AppData\Local\Temp\ipykernel_12572\479426640.py:10: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df.groupby('cancellation_policy').apply(calc_mean_review_scores).head()

                       cancellation_policy  review_scores_value  \
cancellation_policy
flexible            4             flexible                 10.0
                    5             flexible                 10.0
                    10            flexible                 10.0
                    11            flexible                  9.0
                    12            flexible                 10.0

                        review_scores_mean
cancellation_policy
flexible            4             0.762579
                    5             0.762579
                    10            0.762579
                    11            0.237421
                    12            0.762579